/*Layout*/
#content{
	display: flex;
}
#inputs, #output{
	border: 2px solid black;
	justify-content: center;
	align-content: center;
	flex-flow: column wrap;
	width: 30%;
}
#button{
	width: 20%;
}
#output{
	display: flex;
	width: 40%;
	justify-content: center;
}


/*Style*/
#output{
	background-image: url("C:/Users/Max Brimhall/Documents/GitHub/ItemCard/Images/parchment.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: contain;
}