/*Layout*/
#content{
	display: flex;
}
#inputs, #output{
	display: flex;
	border: 2px solid black;
	align-content: center;
	flex-flow: column wrap;
	width: 20%;
}
#button{
	width: 20%;
}
#scroll-top{
}
/*Style*/
#output{
	background-image: url("Images/scroll.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: contain;
}